In [ ]:
# Updated version of cumulative method originally developed by Sarah Kim

In [38]:
import pandas as pd
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
import matplotlib.pyplot as plt
from tabulate import tabulate
import seaborn as sns
import sqlite3

In [39]:
retail_df_csv = pd.read_csv("Resources/retail_price_cleaned.csv")

retail_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             676 non-null    object
 1   product_category_name  676 non-null    object
 2   month_year             676 non-null    object
 3   qty_sold               676 non-null    int64
 4   total_price            676 non-null    float64
 5   freight_price          676 non-null    float64
 6   unit_price             676 non-null    float64
 7   product_rating         676 non-null    float64
 8   no_customers           676 non-null    int64
 9   month                  676 non-null    int64
 10  year                   676 non-null    int64
 11  seasonality            676 non-null    float64
 12  volume                 676 non-null    int64
 13  comp1_price            676 non-null    float64
 14  comp1_prod_rating      676 non-null    float64
 15  comp1_freight_price    676 non-null    float64
 16  comp2_price            676 non-null    float64
 17  comp2_prod_rating      676 non-null    float64
 18  comp2_freight_price    676 non-null    float64
 19  comp3_price            676 non-null    float64
 20  comp3_prod_rating      676 non-null    float64
 21  comp3_freight_price    676 non-null    float64
 22  lag_price              676 non-null    float64
dtypes: float64(15), int64(5), object(3)
memory usage: 121.6+ KB

In [42]:
# path and name for database and connecting the db
conn = sqlite3.connect("Resources/pricing_opt.db")
# creating the table "retail" from the dataframe
retail_df_csv.to_sql('retail',conn,index=False,if_exists='replace')

In [43]:
query = "SELECT * FROM retail;"
retail_df = pd.read_sql(query,conn)
conn.close()
retail_df.head()

,product_id,product_category_name,month_year,qty_sold,total_price,freight_price,unit_price,product_rating,no_customers,month,...,comp1_price,comp1_prod_rating,comp1_freight_price,comp2_price,comp2_prod_rating,comp2_freight_price,comp3_price,comp3_prod_rating,comp3_freight_price,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.95,4.0,57,5,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.95,4.0,61,6,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.95,4.0,123,7,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.95,4.0,90,8,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.95,4.0,54,9,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95

In [44]:
retail_df.columns

Index(['product_id', 'product_category_name', 'month_year', 'qty_sold',
       'total_price', 'freight_price', 'unit_price', 'product_rating',
       'no_customers', 'month', 'year', 'seasonality', 'volume', 'comp1_price',
       'comp1_prod_rating', 'comp1_freight_price', 'comp2_price',
       'comp2_prod_rating', 'comp2_freight_price', 'comp3_price',
       'comp3_prod_rating', 'comp3_freight_price', 'lag_price'],
      dtype='object')

In [45]:
# combining 'year' and 'month' to datetime
retail_df['date'] = pd.to_datetime(retail_df[['year', 'month']].assign(day=1))

# Sort the DataFrame by the new datetime column
retail_df = retail_df.sort_values('date')

retail_df.head()

,product_id,product_category_name,month_year,qty_sold,total_price,freight_price,unit_price,product_rating,no_customers,month,...,comp1_prod_rating,comp1_freight_price,comp2_price,comp2_prod_rating,comp2_freight_price,comp3_price,comp3_prod_rating,comp3_freight_price,lag_price,date
389,health7,health_beauty,01-01-2017,1,64.99,11.060000,64.99,3.9,9,1,...,3.9,11.060000,64.99,3.9,11.060000,64.99,3.9,11.060,64.94,2017-01-01
339,health5,health_beauty,01-01-2017,8,2799.20,22.901250,349.90,4.3,9,1,...,4.3,22.901250,349.90,4.3,22.901250,64.99,3.9,11.060,349.85,2017-01-01
438,bed2,bed_bath_table,01-02-2017,2,179.80,13.020000,89.90,3.9,2,2,...,3.9,13.020000,89.90,3.9,13.020000,89.90,3.9,13.020,89.85,2017-02-01
236,garden8,garden_tools,01-02-2017,1,179.99,33.540000,179.99,4.2,3,2,...,4.2,33.540000,179.99,4.2,33.540000,179.99,4.2,33.540,179.94,2017-02-01
58,health9,health_beauty,01-02-2017,11,219.89,11.750909,19.99,4.3,19,2,...,4.3,11.750909,19.99,4.3,11.750909,64.99,3.9,15.348,19.94,2017-02-01

In [48]:
# Initial size of data for training. This will expand by "expand_size" at every loop cycle.
# This is the concept of cumulative training.
init_train_length = 4 
# Define size of testing data.
test_length = 2
# Define the step size for expansion.
expand_size = 1

grouped = retail_df.groupby('product_id')

table_data = []
mse_scores = []
predicted_unit_prices = []

In [46]:

for group_key, group_data in grouped:
    # Extract the group's features and target variable
    features = group_data[['qty_sold', 'total_price', 'freight_price', 'product_rating',
                           'no_customers', 'seasonality', 'volume', 'comp1_price',
                           'comp1_prod_rating', 'comp1_freight_price', 'comp2_price',
                           'comp2_prod_rating', 'comp2_freight_price', 'comp3_price',
                           'comp3_prod_rating', 'comp3_freight_price', 'lag_price']]

    target = group_data['unit_price']
   
    # debug
    print(f"Product {group_key} - Features Length: {len(features)}, Target Length: {len(target)}")
    
    # Check if there's enough data for cumulative training
    if len(features) >= init_train_length + test_length + expand_size:
        predicted_unit_prices = []
        
        # cumulative training for each group
        
        i = 1       # i is the number of cumulative trainings for each product
        while init_train_length + test_length + i * expand_size <= len(features):
            # Define the periods for training and testing
            train_end = init_train_length + i * expand_size
            test_start = train_end
            test_end = train_end + test_length
            print(f"i = {i}, train_end = {train_end}, test_start = {test_start}, test_end = {test_end}")
            # Split data into training and testing sets
            #features_train = features[features.index < train_end]
            #target_train = target[target.index < train_end]
            #features_test = features[(features.index >= test_start) & (features.index < test_end)]
            #target_test = target[(target.index >= test_start) & (target.index < test_end)]
    
            features_train = features.iloc[0:train_end]
            target_train = target.iloc[0:train_end]
            features_test = features.iloc[test_start:test_end]
            target_test = target.iloc[test_start:test_end]
            
            # Train the model
            model = LinearRegression()
            model.fit(features_train, target_train)
            
            # Make predictions
            y_pred = model.predict(features_test)
            
            # Evaluate the predictions using Mean Squared Error
            mse = mean_squared_error(target_test, y_pred)
            mse_scores.append(mse)
  
            # Calculate and store the predicted unit prices
            predicted_unit_price = y_pred[0]
            predicted_unit_prices.append(predicted_unit_price)

            print(f"Product {group_key}, Period {i} - MSE: {mse:.2f}, Predicted Unit Price: {predicted_unit_price}")
            i += 1
            table_data.append([group_key, i, predicted_unit_price, mse])

    else:
        print(f"Product {group_key} - Not enough data for cumulative training")

#avg_mse = np.mean(mse_scores)
#print(f"Average MSE: {avg_mse:.2f}")

# Print table
table_headers = ["Product ID", "Sample", "Predicted Price", "MSE"]
print(tabulate(table_data, headers=table_headers, floatfmt=(".0f", ".0f", ".2f", ".2f")))

avg_mse = np.mean(mse_scores)
avg_predicted_unit_price = np.mean(predicted_unit_prices)
print(f"Average MSE: {avg_mse:.2f}")
print(f"Average Predicted Unit Price: {avg_predicted_unit_price:.2f}")

Product bed1 - Features Length: 16, Target Length: 16
i = 1, train_end = 6, test_start = 6, test_end = 8
Product bed1, Period 1 - MSE: 17.96, Predicted Unit Price: 45.098241237672326
i = 2, train_end = 8, test_start = 8, test_end = 10
Product bed1, Period 2 - MSE: 8.85, Predicted Unit Price: 42.73724953155537
i = 3, train_end = 10, test_start = 10, test_end = 12
Product bed1, Period 3 - MSE: 0.11, Predicted Unit Price: 40.03180072427811
i = 4, train_end = 12, test_start = 12, test_end = 14
Product bed1, Period 4 - MSE: 0.00, Predicted Unit Price: 40.00909411130165
i = 5, train_end = 14, test_start = 14, test_end = 16
Product bed1, Period 5 - MSE: 0.00, Predicted Unit Price: 39.99000000000006
Product bed2 - Features Length: 19, Target Length: 19
i = 1, train_end = 6, test_start = 6, test_end = 8
Product bed2, Period 1 - MSE: 0.00, Predicted Unit Price: 89.89999999999999
i = 2, train_end = 8, test_start = 8, test_end = 10
Product bed2, Period 2 - MSE: 0.00, Predicted Unit Price: 89.9
i = 3, train_end = 10, test_start = 10, test_end = 12
Product bed2, Period 3 - MSE: 5.50, Predicted Unit Price: 89.9
i = 4, train_end = 12, test_start = 12, test_end = 14
Product bed2, Period 4 - MSE: 0.00, Predicted Unit Price: 86.86954597834516
i = 5, train_end = 14, test_start = 14, test_end = 16
Product bed2, Period 5 - MSE: 0.00, Predicted Unit Price: 85.04499999999999
i = 6, train_end = 16, test_start = 16, test_end = 18
Product bed2, Period 6 - MSE: 0.00, Predicted Unit Price: 79.89999999999999
Product bed3 - Features Length: 11, Target Length: 11
i = 1, train_end = 6, test_start = 6, test_end = 8
Product bed3, Period 1 - MSE: 9.33, Predicted Unit Price: 89.25998242531124
i = 2, train_end = 8, test_start = 8, test_end = 10
Product bed3, Period 2 - MSE: 0.24, Predicted Unit Price: 84.89027744012459
Product bed4 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product bed4, Period 1 - MSE: 0.21, Predicted Unit Price: 47.76452655967361
i = 2, train_end = 8, test_start = 8, test_end = 10
Product bed4, Period 2 - MSE: 1.56, Predicted Unit Price: 47.65172363396087
Product bed5 - Features Length: 5, Target Length: 5
Product bed5 - Not enough data for cumulative training
Product computers1 - Features Length: 15, Target Length: 15
i = 1, train_end = 6, test_start = 6, test_end = 8
Product computers1, Period 1 - MSE: 21.57, Predicted Unit Price: 103.93680809517367
i = 2, train_end = 8, test_start = 8, test_end = 10
Product computers1, Period 2 - MSE: 2371.34, Predicted Unit Price: 136.28500478915814
i = 3, train_end = 10, test_start = 10, test_end = 12
Product computers1, Period 3 - MSE: 699.31, Predicted Unit Price: 115.4722984794823
i = 4, train_end = 12, test_start = 12, test_end = 14
Product computers1, Period 4 - MSE: 611.71, Predicted Unit Price: 98.51099854812523
Product computers2 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product computers2, Period 1 - MSE: 1.79, Predicted Unit Price: 81.52566422083014
i = 2, train_end = 8, test_start = 8, test_end = 10
Product computers2, Period 2 - MSE: 5.21, Predicted Unit Price: 80.15533730004944
Product computers3 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product computers3, Period 1 - MSE: 61.81, Predicted Unit Price: 127.03108401298171
i = 2, train_end = 8, test_start = 8, test_end = 10
Product computers3, Period 2 - MSE: 27.17, Predicted Unit Price: 140.35699518988127
Product computers4 - Features Length: 18, Target Length: 18
i = 1, train_end = 6, test_start = 6, test_end = 8
Product computers4, Period 1 - MSE: 10.55, Predicted Unit Price: 150.68518070647625
i = 2, train_end = 8, test_start = 8, test_end = 10
Product computers4, Period 2 - MSE: 178.58, Predicted Unit Price: 136.6266666666675
i = 3, train_end = 10, test_start = 10, test_end = 12
Product computers4, Period 3 - MSE: 4.84, Predicted Unit Price: 153.43055619503173
i = 4, train_end = 12, test_start = 12, test_end = 14
Product computers4, Period 4 - MSE: 0.00, Predicted Unit Price: 136.17687650768838
i = 5, train_end = 14, test_start = 14, test_end = 16
Product computers4, Period 5 - MSE: 0.00, Predicted Unit Price: 118.99999999999523
i = 6, train_end = 16, test_start = 16, test_end = 18
Product computers4, Period 6 - MSE: 0.00, Predicted Unit Price: 119.98999999999995
Product computers5 - Features Length: 8, Target Length: 8
i = 1, train_end = 6, test_start = 6, test_end = 8
Product computers5, Period 1 - MSE: 200.19, Predicted Unit Price: 95.90230466961894
Product computers6 - Features Length: 8, Target Length: 8
i = 1, train_end = 6, test_start = 6, test_end = 8
Product computers6, Period 1 - MSE: 0.02, Predicted Unit Price: 149.9580427924275
Product consoles1 - Features Length: 12, Target Length: 12
i = 1, train_end = 6, test_start = 6, test_end = 8
Product consoles1, Period 1 - MSE: 30.56, Predicted Unit Price: 27.090647912567277
i = 2, train_end = 8, test_start = 8, test_end = 10
Product consoles1, Period 2 - MSE: 1.07, Predicted Unit Price: 35.80472789281792
i = 3, train_end = 10, test_start = 10, test_end = 12
Product consoles1, Period 3 - MSE: 0.00, Predicted Unit Price: 36.19131505822979
Product consoles2 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product consoles2, Period 1 - MSE: 55.15, Predicted Unit Price: 19.535192755480608
i = 2, train_end = 8, test_start = 8, test_end = 10
Product consoles2, Period 2 - MSE: 0.35, Predicted Unit Price: 33.418765379069825
Product cool1 - Features Length: 15, Target Length: 15
i = 1, train_end = 6, test_start = 6, test_end = 8
Product cool1, Period 1 - MSE: 105.63, Predicted Unit Price: 96.38721069032232
i = 2, train_end = 8, test_start = 8, test_end = 10
Product cool1, Period 2 - MSE: 6.82, Predicted Unit Price: 97.26429385446725
i = 3, train_end = 10, test_start = 10, test_end = 12
Product cool1, Period 3 - MSE: 0.01, Predicted Unit Price: 99.99000000000002
i = 4, train_end = 12, test_start = 12, test_end = 14
Product cool1, Period 4 - MSE: 0.00, Predicted Unit Price: 99.9900000000001
Product cool2 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product cool2, Period 1 - MSE: 0.02, Predicted Unit Price: 120.08515888618231
i = 2, train_end = 8, test_start = 8, test_end = 10
Product cool2, Period 2 - MSE: 1236.77, Predicted Unit Price: 130.08089021305287
i = 3, train_end = 10, test_start = 10, test_end = 12
Product cool2, Period 3 - MSE: 0.00, Predicted Unit Price: 129.9899999999999
Product cool3 - Features Length: 7, Target Length: 7
Product cool3 - Not enough data for cumulative training
Product cool4 - Features Length: 9, Target Length: 9
i = 1, train_end = 6, test_start = 6, test_end = 8
Product cool4, Period 1 - MSE: 283.69, Predicted Unit Price: 154.59871352154977
Product cool5 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product cool5, Period 1 - MSE: 0.00, Predicted Unit Price: 99.99
i = 2, train_end = 8, test_start = 8, test_end = 10
Product cool5, Period 2 - MSE: 0.00, Predicted Unit Price: 99.99
i = 3, train_end = 10, test_start = 10, test_end = 12
Product cool5, Period 3 - MSE: 2.08, Predicted Unit Price: 99.99
Product furniture1 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product furniture1, Period 1 - MSE: 3.57, Predicted Unit Price: 36.4291903665633
i = 2, train_end = 8, test_start = 8, test_end = 10
Product furniture1, Period 2 - MSE: 10.57, Predicted Unit Price: 38.284087360188565
i = 3, train_end = 10, test_start = 10, test_end = 12
Product furniture1, Period 3 - MSE: 1.17, Predicted Unit Price: 34.17581480790998
Product furniture2 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product furniture2, Period 1 - MSE: 8.72, Predicted Unit Price: 73.43597461886372
i = 2, train_end = 8, test_start = 8, test_end = 10
Product furniture2, Period 2 - MSE: 0.46, Predicted Unit Price: 70.3023798567253
i = 3, train_end = 10, test_start = 10, test_end = 12
Product furniture2, Period 3 - MSE: 275.83, Predicted Unit Price: 71.30563001505676
Product furniture3 - Features Length: 12, Target Length: 12
i = 1, train_end = 6, test_start = 6, test_end = 8
Product furniture3, Period 1 - MSE: 4.90, Predicted Unit Price: 40.3315570914441
i = 2, train_end = 8, test_start = 8, test_end = 10
Product furniture3, Period 2 - MSE: 18.57, Predicted Unit Price: 39.2828349254131
i = 3, train_end = 10, test_start = 10, test_end = 12
Product furniture3, Period 3 - MSE: 5.01, Predicted Unit Price: 36.96657030565571
Product furniture4 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product furniture4, Period 1 - MSE: 0.00, Predicted Unit Price: 99.89999999999999
i = 2, train_end = 8, test_start = 8, test_end = 10
Product furniture4, Period 2 - MSE: 357.29, Predicted Unit Price: 99.9
Product garden1 - Features Length: 18, Target Length: 18
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden1, Period 1 - MSE: 508.13, Predicted Unit Price: 120.20184760363692
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden1, Period 2 - MSE: 155.37, Predicted Unit Price: 77.08434144255945
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden1, Period 3 - MSE: 19.48, Predicted Unit Price: 121.65640368890223
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden1, Period 4 - MSE: 351.33, Predicted Unit Price: 130.56120539564978
i = 5, train_end = 14, test_start = 14, test_end = 16
Product garden1, Period 5 - MSE: 53491.27, Predicted Unit Price: -143.66742091083142
i = 6, train_end = 16, test_start = 16, test_end = 18
Product garden1, Period 6 - MSE: 162.65, Predicted Unit Price: 82.27979268527088
Product garden10 - Features Length: 16, Target Length: 16
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden10, Period 1 - MSE: 29.55, Predicted Unit Price: 59.9
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden10, Period 2 - MSE: 1.35, Predicted Unit Price: 51.542097703174306
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden10, Period 3 - MSE: 0.05, Predicted Unit Price: 53.804350833287295
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden10, Period 4 - MSE: 0.08, Predicted Unit Price: 53.448923139766016
i = 5, train_end = 14, test_start = 14, test_end = 16
Product garden10, Period 5 - MSE: 0.00, Predicted Unit Price: 49.89999999999998
Product garden2 - Features Length: 17, Target Length: 17
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden2, Period 1 - MSE: 14.85, Predicted Unit Price: 59.9
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden2, Period 2 - MSE: 22.52, Predicted Unit Price: 56.178374785611446
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden2, Period 3 - MSE: 27.24, Predicted Unit Price: 44.21940147043353
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden2, Period 4 - MSE: 21.73, Predicted Unit Price: 49.34408884889243
i = 5, train_end = 14, test_start = 14, test_end = 16

Product garden2, Period 5 - MSE: 5.17, Predicted Unit Price: 48.38580477215491
Product garden3 - Features Length: 18, Target Length: 18
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden3, Period 1 - MSE: 454.94, Predicted Unit Price: 118.75513889553918
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden3, Period 2 - MSE: 1899.92, Predicted Unit Price: 29.707488997255382
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden3, Period 3 - MSE: 1390.01, Predicted Unit Price: 71.98840899261715
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden3, Period 4 - MSE: 691.73, Predicted Unit Price: 137.47775296621666
i = 5, train_end = 14, test_start = 14, test_end = 16
Product garden3, Period 5 - MSE: 4390.80, Predicted Unit Price: 97.34588588727274
i = 6, train_end = 16, test_start = 16, test_end = 18
Product garden3, Period 6 - MSE: 89.70, Predicted Unit Price: 86.74677675647672
Product garden4 - Features Length: 14, Target Length: 14
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden4, Period 1 - MSE: 8.02, Predicted Unit Price: 53.32582110995457
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden4, Period 2 - MSE: 0.84, Predicted Unit Price: 53.654590605729396
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden4, Period 3 - MSE: 0.38, Predicted Unit Price: 53.88636106125886
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden4, Period 4 - MSE: 0.00, Predicted Unit Price: 49.899999999999416
Product garden5 - Features Length: 14, Target Length: 14
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden5, Period 1 - MSE: 134.45, Predicted Unit Price: 102.14987243046887
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden5, Period 2 - MSE: 1616.44, Predicted Unit Price: 154.2270033348666
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden5, Period 3 - MSE: 10527.91, Predicted Unit Price: -30.802007966828242
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden5, Period 4 - MSE: 74.07, Predicted Unit Price: 112.14340366444144
Product garden6 - Features Length: 16, Target Length: 16
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden6, Period 1 - MSE: 39.59, Predicted Unit Price: 59.9
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden6, Period 2 - MSE: 4.81, Predicted Unit Price: 52.947897275969964
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden6, Period 3 - MSE: 3.33, Predicted Unit Price: 54.537822240208
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden6, Period 4 - MSE: 0.00, Predicted Unit Price: 53.41515152000018
i = 5, train_end = 14, test_start = 14, test_end = 16
Product garden6, Period 5 - MSE: 0.00, Predicted Unit Price: 49.909999999999705
Product garden7 - Features Length: 16, Target Length: 16
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden7, Period 1 - MSE: 41.06, Predicted Unit Price: 59.9
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden7, Period 2 - MSE: 13.71, Predicted Unit Price: 52.77397384241284
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden7, Period 3 - MSE: 14.74, Predicted Unit Price: 55.5393940607852
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden7, Period 4 - MSE: 0.02, Predicted Unit Price: 52.68750959105212
i = 5, train_end = 14, test_start = 14, test_end = 16
Product garden7, Period 5 - MSE: 3.44, Predicted Unit Price: 50.326551843652695
Product garden8 - Features Length: 14, Target Length: 14
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden8, Period 1 - MSE: 4.40, Predicted Unit Price: 185.7833984118736
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden8, Period 2 - MSE: 22.45, Predicted Unit Price: 179.08073974578963
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden8, Period 3 - MSE: 133.29, Predicted Unit Price: 180.19064708190848
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden8, Period 4 - MSE: 741.09, Predicted Unit Price: 173.636878400669
Product garden9 - Features Length: 17, Target Length: 17
i = 1, train_end = 6, test_start = 6, test_end = 8
Product garden9, Period 1 - MSE: 21.26, Predicted Unit Price: 59.9
i = 2, train_end = 8, test_start = 8, test_end = 10
Product garden9, Period 2 - MSE: 4.10, Predicted Unit Price: 56.64248130240428
i = 3, train_end = 10, test_start = 10, test_end = 12
Product garden9, Period 3 - MSE: 0.03, Predicted Unit Price: 50.80055596387713
i = 4, train_end = 12, test_start = 12, test_end = 14
Product garden9, Period 4 - MSE: 4.08, Predicted Unit Price: 56.093400317053856
i = 5, train_end = 14, test_start = 14, test_end = 16
Product garden9, Period 5 - MSE: 3.87, Predicted Unit Price: 48.64681868224049
Product health1 - Features Length: 9, Target Length: 9
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health1, Period 1 - MSE: 0.00, Predicted Unit Price: 84.99
Product health10 - Features Length: 7, Target Length: 7
Product health10 - Not enough data for cumulative training
Product health2 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health2, Period 1 - MSE: 0.40, Predicted Unit Price: 325.0
i = 2, train_end = 8, test_start = 8, test_end = 10
Product health2, Period 2 - MSE: 12.84, Predicted Unit Price: 332.53798128993566
i = 3, train_end = 10, test_start = 10, test_end = 12
Product health2, Period 3 - MSE: 3.91, Predicted Unit Price: 328.17261907811115
Product health3 - Features Length: 8, Target Length: 8
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health3, Period 1 - MSE: 4.25, Predicted Unit Price: 122.31510209893992
Product health4 - Features Length: 11, Target Length: 11
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health4, Period 1 - MSE: 0.00, Predicted Unit Price: 29.900000000000002
i = 2, train_end = 8, test_start = 8, test_end = 10
Product health4, Period 2 - MSE: 0.00, Predicted Unit Price: 29.9
Product health5 - Features Length: 20, Target Length: 20
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health5, Period 1 - MSE: 0.00, Predicted Unit Price: 349.90000000000003
i = 2, train_end = 8, test_start = 8, test_end = 10
Product health5, Period 2 - MSE: 0.00, Predicted Unit Price: 349.9
i = 3, train_end = 10, test_start = 10, test_end = 12
Product health5, Period 3 - MSE: 385.41, Predicted Unit Price: 349.9
i = 4, train_end = 12, test_start = 12, test_end = 14
Product health5, Period 4 - MSE: 196.33, Predicted Unit Price: 345.36989103868643
i = 5, train_end = 14, test_start = 14, test_end = 16
Product health5, Period 5 - MSE: 0.00, Predicted Unit Price: 349.9000000000387
i = 6, train_end = 16, test_start = 16, test_end = 18
Product health5, Period 6 - MSE: 0.57, Predicted Unit Price: 351.18181818345084
i = 7, train_end = 18, test_start = 18, test_end = 20
Product health5, Period 7 - MSE: 1.81, Predicted Unit Price: 364.19094944529314
Product health6 - Features Length: 7, Target Length: 7
Product health6 - Not enough data for cumulative training
Product health7 - Features Length: 20, Target Length: 20
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health7, Period 1 - MSE: 13.28, Predicted Unit Price: 57.985224066446946
i = 2, train_end = 8, test_start = 8, test_end = 10
Product health7, Period 2 - MSE: 1.27, Predicted Unit Price: 58.89352996695087
i = 3, train_end = 10, test_start = 10, test_end = 12
Product health7, Period 3 - MSE: 10.44, Predicted Unit Price: 60.63042235234524
i = 4, train_end = 12, test_start = 12, test_end = 14
Product health7, Period 4 - MSE: 0.00, Predicted Unit Price: 58.99133797974939
i = 5, train_end = 14, test_start = 14, test_end = 16
Product health7, Period 5 - MSE: 0.00, Predicted Unit Price: 58.989999999999945
i = 6, train_end = 16, test_start = 16, test_end = 18
Product health7, Period 6 - MSE: 0.00, Predicted Unit Price: 58.98999999999999
i = 7, train_end = 18, test_start = 18, test_end = 20
Product health7, Period 7 - MSE: 0.00, Predicted Unit Price: 58.98999999999999
Product health8 - Features Length: 17, Target Length: 17
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health8, Period 1 - MSE: 0.00, Predicted Unit Price: 89.99
i = 2, train_end = 8, test_start = 8, test_end = 10
Product health8, Period 2 - MSE: 0.00, Predicted Unit Price: 89.99
i = 3, train_end = 10, test_start = 10, test_end = 12
Product health8, Period 3 - MSE: 19.53, Predicted Unit Price: 89.99
i = 4, train_end = 12, test_start = 12, test_end = 14
Product health8, Period 4 - MSE: 0.00, Predicted Unit Price: 80.02829950166824
i = 5, train_end = 14, test_start = 14, test_end = 16
Product health8, Period 5 - MSE: 0.00, Predicted Unit Price: 80.01615062747294
Product health9 - Features Length: 18, Target Length: 18
i = 1, train_end = 6, test_start = 6, test_end = 8
Product health9, Period 1 - MSE: 13.81, Predicted Unit Price: 19.99
i = 2, train_end = 8, test_start = 8, test_end = 10
Product health9, Period 2 - MSE: 6.45, Predicted Unit Price: 22.481558064618888
i = 3, train_end = 10, test_start = 10, test_end = 12
Product health9, Period 3 - MSE: 0.50, Predicted Unit Price: 23.04359917119092
i = 4, train_end = 12, test_start = 12, test_end = 14
Product health9, Period 4 - MSE: 0.00, Predicted Unit Price: 23.99000000000001
i = 5, train_end = 14, test_start = 14, test_end = 16
Product health9, Period 5 - MSE: 0.00, Predicted Unit Price: 23.989999999999995
i = 6, train_end = 16, test_start = 16, test_end = 18
Product health9, Period 6 - MSE: 0.00, Predicted Unit Price: 23.990000000000027
Product perfumery1 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product perfumery1, Period 1 - MSE: 0.00, Predicted Unit Price: 56.99
i = 2, train_end = 8, test_start = 8, test_end = 10
Product perfumery1, Period 2 - MSE: 21.12, Predicted Unit Price: 56.99
i = 3, train_end = 10, test_start = 10, test_end = 12
Product perfumery1, Period 3 - MSE: 0.02, Predicted Unit Price: 50.16568705672942
Product perfumery2 - Features Length: 13, Target Length: 13
i = 1, train_end = 6, test_start = 6, test_end = 8
Product perfumery2, Period 1 - MSE: 25.75, Predicted Unit Price: 111.41606973394042
i = 2, train_end = 8, test_start = 8, test_end = 10
Product perfumery2, Period 2 - MSE: 0.60, Predicted Unit Price: 117.89934906313222
i = 3, train_end = 10, test_start = 10, test_end = 12
Product perfumery2, Period 3 - MSE: 0.00, Predicted Unit Price: 119.17857192908436
Product watches1 - Features Length: 17, Target Length: 17
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches1, Period 1 - MSE: 690.49, Predicted Unit Price: 222.34017417298352
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches1, Period 2 - MSE: 64.27, Predicted Unit Price: 179.8363861320034
i = 3, train_end = 10, test_start = 10, test_end = 12

Product watches1, Period 3 - MSE: 0.08, Predicted Unit Price: 182.3304150499566
i = 4, train_end = 12, test_start = 12, test_end = 14
Product watches1, Period 4 - MSE: 5.80, Predicted Unit Price: 152.22411215143876
i = 5, train_end = 14, test_start = 14, test_end = 16
Product watches1, Period 5 - MSE: 0.00, Predicted Unit Price: 138.21999999999971
Product watches2 - Features Length: 15, Target Length: 15
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches2, Period 1 - MSE: 47.03, Predicted Unit Price: 146.8572542603276
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches2, Period 2 - MSE: 115.63, Predicted Unit Price: 140.34126297386223
i = 3, train_end = 10, test_start = 10, test_end = 12
Product watches2, Period 3 - MSE: 3338.37, Predicted Unit Price: 147.77943183790424
i = 4, train_end = 12, test_start = 12, test_end = 14
Product watches2, Period 4 - MSE: 430.94, Predicted Unit Price: 112.70284308087872
Product watches3 - Features Length: 15, Target Length: 15
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches3, Period 1 - MSE: 0.00, Predicted Unit Price: 78.0
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches3, Period 2 - MSE: 0.00, Predicted Unit Price: 78.0
i = 3, train_end = 10, test_start = 10, test_end = 12
Product watches3, Period 3 - MSE: 0.00, Predicted Unit Price: 78.0
i = 4, train_end = 12, test_start = 12, test_end = 14
Product watches3, Period 4 - MSE: 0.00, Predicted Unit Price: 78.0
Product watches4 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches4, Period 1 - MSE: 49.93, Predicted Unit Price: 114.52742606679725
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches4, Period 2 - MSE: 5.44, Predicted Unit Price: 101.73641065552079
Product watches5 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches5, Period 1 - MSE: 4.59, Predicted Unit Price: 208.2720351562422
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches5, Period 2 - MSE: 3632.16, Predicted Unit Price: 228.68196754985914
Product watches6 - Features Length: 14, Target Length: 14
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches6, Period 1 - MSE: 23.79, Predicted Unit Price: 143.44818130423164
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches6, Period 2 - MSE: 1.37, Predicted Unit Price: 118.54745903145454
i = 3, train_end = 10, test_start = 10, test_end = 12
Product watches6, Period 3 - MSE: 0.90, Predicted Unit Price: 103.33449816416575
i = 4, train_end = 12, test_start = 12, test_end = 14
Product watches6, Period 4 - MSE: 0.00, Predicted Unit Price: 118.36363640000056
Product watches7 - Features Length: 12, Target Length: 12
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches7, Period 1 - MSE: 590.30, Predicted Unit Price: 338.1142285564612
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches7, Period 2 - MSE: 5256.30, Predicted Unit Price: 280.37622695536993
i = 3, train_end = 10, test_start = 10, test_end = 12
Product watches7, Period 3 - MSE: 28225.73, Predicted Unit Price: 374.5321828911399
Product watches8 - Features Length: 10, Target Length: 10
i = 1, train_end = 6, test_start = 6, test_end = 8
Product watches8, Period 1 - MSE: 1443.87, Predicted Unit Price: 103.05180493575519
i = 2, train_end = 8, test_start = 8, test_end = 10
Product watches8, Period 2 - MSE: 986.86, Predicted Unit Price: 118.17531908447145
Product ID      Sample    Predicted Price       MSE
------------  --------  -----------------  --------
bed1                 2              45.10     17.96
bed1                 3              42.74      8.85
bed1                 4              40.03      0.11
bed1                 5              40.01      0.00
bed1                 6              39.99      0.00
bed2                 2              89.90      0.00
bed2                 3              89.90      0.00
bed2                 4              89.90      5.50
bed2                 5              86.87      0.00
bed2                 6              85.04      0.00
bed2                 7              79.90      0.00
bed3                 2              89.26      9.33
bed3                 3              84.89      0.24
bed4                 2              47.76      0.21
bed4                 3              47.65      1.56
computers1           2             103.94     21.57
computers1           3             136.29   2371.34
computers1           4             115.47    699.31
computers1           5              98.51    611.71
computers2           2              81.53      1.79
computers2           3              80.16      5.21
computers3           2             127.03     61.81
computers3           3             140.36     27.17
computers4           2             150.69     10.55
computers4           3             136.63    178.58
computers4           4             153.43      4.84
computers4           5             136.18      0.00
computers4           6             119.00      0.00
computers4           7             119.99      0.00
computers5           2              95.90    200.19
computers6           2             149.96      0.02
consoles1            2              27.09     30.56
consoles1            3              35.80      1.07
consoles1            4              36.19      0.00
consoles2            2              19.54     55.15
consoles2            3              33.42      0.35
cool1                2              96.39    105.63
cool1                3              97.26      6.82
cool1                4              99.99      0.01
cool1                5              99.99      0.00
cool2                2             120.09      0.02
cool2                3             130.08   1236.77
cool2                4             129.99      0.00
cool4                2             154.60    283.69
cool5                2              99.99      0.00
cool5                3              99.99      0.00
cool5                4              99.99      2.08
furniture1           2              36.43      3.57
furniture1           3              38.28     10.57
furniture1           4              34.18      1.17
furniture2           2              73.44      8.72
furniture2           3              70.30      0.46
furniture2           4              71.31    275.83
furniture3           2              40.33      4.90
furniture3           3              39.28     18.57
furniture3           4              36.97      5.01
furniture4           2              99.90      0.00
furniture4           3              99.90    357.29
garden1              2             120.20    508.13
garden1              3              77.08    155.37
garden1              4             121.66     19.48
garden1              5             130.56    351.33
garden1              6            -143.67  53491.27
garden1              7              82.28    162.65
garden10             2              59.90     29.55
garden10             3              51.54      1.35
garden10             4              53.80      0.05
garden10             5              53.45      0.08
garden10             6              49.90      0.00
garden2              2              59.90     14.85
garden2              3              56.18     22.52
garden2              4              44.22     27.24
garden2              5              49.34     21.73
garden2              6              48.39      5.17
garden3              2             118.76    454.94
garden3              3              29.71   1899.92
garden3              4              71.99   1390.01
garden3              5             137.48    691.73
garden3              6              97.35   4390.80
garden3              7              86.75     89.70
garden4              2              53.33      8.02
garden4              3              53.65      0.84
garden4              4              53.89      0.38
garden4              5              49.90      0.00
garden5              2             102.15    134.45
garden5              3             154.23   1616.44
garden5              4             -30.80  10527.91
garden5              5             112.14     74.07
garden6              2              59.90     39.59
garden6              3              52.95      4.81
garden6              4              54.54      3.33
garden6              5              53.42      0.00
garden6              6              49.91      0.00
garden7              2              59.90     41.06
garden7              3              52.77     13.71
garden7              4              55.54     14.74
garden7              5              52.69      0.02
garden7              6              50.33      3.44
garden8              2             185.78      4.40
garden8              3             179.08     22.45
garden8              4             180.19    133.29
garden8              5             173.64    741.09
garden9              2              59.90     21.26
garden9              3              56.64      4.10
garden9              4              50.80      0.03
garden9              5              56.09      4.08
garden9              6              48.65      3.87
health1              2              84.99      0.00
health2              2             325.00      0.40
health2              3             332.54     12.84
health2              4             328.17      3.91
health3              2             122.32      4.25
health4              2              29.90      0.00
health4              3              29.90      0.00
health5              2             349.90      0.00
health5              3             349.90      0.00
health5              4             349.90    385.41
health5              5             345.37    196.33
health5              6             349.90      0.00
health5              7             351.18      0.57
health5              8             364.19      1.81
health7              2              57.99     13.28
health7              3              58.89      1.27
health7              4              60.63     10.44
health7              5              58.99      0.00
health7              6              58.99      0.00
health7              7              58.99      0.00
health7              8              58.99      0.00
health8              2              89.99      0.00
health8              3              89.99      0.00
health8              4              89.99     19.53
health8              5              80.03      0.00
health8              6              80.02      0.00
health9              2              19.99     13.81
health9              3              22.48      6.45
health9              4              23.04      0.50
health9              5              23.99      0.00
health9              6              23.99      0.00
health9              7              23.99      0.00
perfumery1           2              56.99      0.00
perfumery1           3              56.99     21.12
perfumery1           4              50.17      0.02
perfumery2           2             111.42     25.75
perfumery2           3             117.90      0.60
perfumery2           4             119.18      0.00
watches1             2             222.34    690.49
watches1             3             179.84     64.27
watches1             4             182.33      0.08
watches1             5             152.22      5.80
watches1             6             138.22      0.00
watches2             2             146.86     47.03
watches2             3             140.34    115.63
watches2             4             147.78   3338.37
watches2             5             112.70    430.94
watches3             2              78.00      0.00
watches3             3              78.00      0.00
watches3             4              78.00      0.00
watches3             5              78.00      0.00
watches4             2             114.53     49.93
watches4             3             101.74      5.44
watches5             2             208.27      4.59
watches5             3             228.68   3632.16
watches6             2             143.45     23.79
watches6             3             118.55      1.37
watches6             4             103.33      0.90
watches6             5             118.36      0.00
watches7             2             338.11    590.30
watches7             3             280.38   5256.30
watches7             4             374.53  28225.73
watches8             2             103.05   1443.87
watches8             3             118.18    986.86
Average MSE: 756.86
Average Predicted Unit Price: 110.61

In [47]:
from collections import defaultdict

# Calculate the average predicted unit price and MSE for each product ID
product_avg_predicted_prices = defaultdict(list)
for entry in table_data:
    group_key = entry[0]
    avg_predicted_price = entry[2]
    avg_mse = entry[3]
    product_avg_predicted_prices[group_key].append((avg_predicted_price, avg_mse, entry[1]))

# Find the optimal prices for each product ID based on minimum average MSE
optimal_prices = {}
for group_key, avg_mse_list in product_avg_predicted_prices.items():
    min_avg_mse_entry = min(avg_mse_list, key=lambda x: x[1])
    optimal_price = min_avg_mse_entry[0]
    min_mse = min_avg_mse_entry[1]
    min_mse_sample = min_avg_mse_entry[2]
    optimal_prices[group_key] = (optimal_price, min_mse, min_mse_sample)

# Prepare the final table data for optimal prices
optimal_table_data = []
for group_key, (optimal_price, min_mse, min_mse_sample) in optimal_prices.items():
    optimal_table_data.append([group_key, optimal_price, min_mse, min_mse_sample])

# Print the table for optimal prices
optimal_table_headers = ["Product ID", "Optimal Price", "Min MSE", "Sample with Min MSE"]
print(tabulate(optimal_table_data, headers=optimal_table_headers, floatfmt=(".0f", ".2f", ".2f", ".0f")))

Product ID      Optimal Price    Min MSE    Sample with Min MSE
------------  ---------------  ---------  ---------------------
bed1                    39.99       0.00                      6
bed2                    89.90       0.00                      3
bed3                    84.89       0.24                      3
bed4                    47.76       0.21                      2
computers1             103.94      21.57                      2
computers2              81.53       1.79                      2
computers3             140.36      27.17                      3
computers4             119.99       0.00                      7
computers5              95.90     200.19                      2
computers6             149.96       0.02                      2
consoles1               36.19       0.00                      4
consoles2               33.42       0.35                      3
cool1                   99.99       0.00                      5
cool2                  129.99       0.00                      4
cool4                  154.60     283.69                      2
cool5                   99.99       0.00                      2
furniture1              34.18       1.17                      4
furniture2              70.30       0.46                      3
furniture3              40.33       4.90                      2
furniture4              99.90       0.00                      2
garden1                121.66      19.48                      4
garden10                49.90       0.00                      6
garden2                 48.39       5.17                      6
garden3                 86.75      89.70                      7
garden4                 49.90       0.00                      5
garden5                112.14      74.07                      5
garden6                 53.42       0.00                      5
garden7                 52.69       0.02                      5
garden8                185.78       4.40                      2
garden9                 50.80       0.03                      4
health1                 84.99       0.00                      2
health2                325.00       0.40                      2
health3                122.32       4.25                      2
health4                 29.90       0.00                      3
health5                349.90       0.00                      3
health7                 58.99       0.00                      8
health8                 89.99       0.00                      2
health9                 23.99       0.00                      6
perfumery1              56.99       0.00                      2
perfumery2             119.18       0.00                      4
watches1               138.22       0.00                      6
watches2               146.86      47.03                      2
watches3                78.00       0.00                      2
watches4               101.74       5.44                      3
watches5               208.27       4.59                      2
watches6               118.36       0.00                      5
watches7               338.11     590.30                      2
watches8               118.18     986.86                      3